/* navbar styling  */

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: #0f1111;
}
.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

/* Footer styling */

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: #0f1111;
  color: #fff;
}

/* foter end */

.login {
  margin-left: 30%;
}
.signup {
  margin-left: 30%;
}

.signup > h2 {
  margin-left: 2%;
}
.login > h2 {
  margin-left: 2%;
}

.inputBox {
  display: block;
  margin: 20px;
  padding: 8px;
  width: 300px;
  border: 1px solid skyblue;
}

.signup-btn,
.login-btn {
  padding: 10px;
  margin: 25px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
